# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================

venv/
.venv/
env/

# =========================
# Environment Variables
# =========================

.env
.env.*

# =========================
# Chroma Vector Database
# =========================

data/chroma_db/

# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/

# =========================
# VS Code
# =========================

.vscode/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db